@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "COURGETTE";
  src: url("../public/fonts/Courgette.ttf");
}

@font-face {
  font-family: "DANCINGSCRIPT";
  src: url("../public/fonts/DancingScript.ttf");
}